html, body {
	width: 100%;
	height: 100%;
	position: relative;
	color:#fff;
   background-color: transparent;
}
.newlayout-title{
	height:60px;
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	line-height:60px;
}
.newlayout-main{
	width:100%;
	height:100%;
	padding-top:0px;
}
.pr100 {
	width: 100%;
	height: 100%;
	position: relative;
}

.bgimg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.tab1_title,.tab2_title{
	position: absolute;
	left:0;top:0;
	height:45px;
	/* line-height:45px; */
	color:#DBDEF7;
	font-weight:700;
	font-size:16px;
	width:100%;
	padding-top:8px;
}
.tab1_main,.tab2_main{
	width:100%;
	height:100%;
	padding-top:45px;
}
.line{
	display:inline-block;
	width:4px;
	height:14px;
	background:#007AFF;
	margin-top:2px;
}
.filterDate{
	float:right;
}
.navTitle{
	display:flex;
	margin-top:20px;
	align-items:center;
}
.navTitle>div{
	flex:1;
	text-align: center;
	font-size: 18px;
	border-right: 1px solid #288ADA;
}
.main4>div{
	width:33.3%;
	height:100%;
	float:left;
	text-align:center
}
.main4>div>div{
	height:40%;
	margin-top:10px;
	width:140px;
	display: inline-block;
	padding-top: 10px;
}
.main4>div>div:nth-child(1){
	border:1px solid #F84C78;
}
.main4>div>div:nth-child(2){
	border:1px solid #00EDFD;
}
.main4>div>div p:nth-child(1){
	font-size:16px;
}
.main4>div>div p:nth-child(2){
	font-size:30px;
	font-weight:700;
	font-family:impact;
  	src: url("../font/impact.ttf");
}
.main4>div>div p:nth-child(2){
	font-size:30px;
	font-weight:700;
	font-family:impact;
  	src: url("../font/impact.ttf");
}
.topWord{
	color:#F84C78;
}
.bottomWord{
	color:#00EDFD;
}
.main4>div>div:nth-child(1){
	background: -moz-linear-gradient(#723068, #20235F);
	background: -webkit-linear-gradient(#723068, #20235F);
}
.main4>div>div:nth-child(2){
	background: -moz-linear-gradient(#053770, #038BB1);
	background: -webkit-linear-gradient(#053770, #038BB1);
}
.dropdown-menu{
	background-color: #073391;
	color: #fff;
}
.datepicker table th{
	color: #fff;
}
.datepicker table td{
	color: #fff;
}
.datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
	background: #2686fc;
	cursor: pointer;
}
.datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover {
	background: #2686fc;
}
.datepicker table tr td span:hover {
	background: #2686fc;
}
.dropdown-menu li{
	background-color: #073391;
	color: #FFF;
}
.dropdown-menu li > a span{
	color: #fff;
}
.btn-default.active.focus,.open .btn-default.dropdown-toggle, .btn-default.active:focus, .btn-default.active:hover, .btn-default.focus:active, .btn-default:active:focus, .btn-default:active:hover, .open > .dropdown-toggle.btn-default.focus, .open > .dropdown-toggle.btn-default:focus, .open > .dropdown-toggle.btn-default:hover {
	color: #fff;
	background-color: #073391;
	border-color: #8C8C8C;
}
.dropdown-menu li.selected a{
	background-color: #073391;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	text-decoration: none;
	background-image: none;
	background-color: #2678FC;
	color: #FFF;
	filter: none;
}
.trees{
	background-color: #073391!important;
	color: #fff9ec;
}
.jstree-wholerow-clicked,.jstree-wholerow-hovered{
	background: #2686fc!important;
}
.positionTree,.dropdown-menu {
	border-color:#4C52E6!important;
}
/*.positionTree .jstree-default .jstree-no-dots .jstree-open > .jstree-ocl {*/
/*	background-position: -132px -4px;*/
/*}*/
/*.positionTree .jstree-default .jstree-no-dots .jstree-closed > .jstree-ocl {*/
/*	background-position: -100px -4px;*/
/*}*/
/*.positionTree .jstree-default .jstree-no-dots .jstree-leaf > .jstree-ocl {*/
/*	background-position: -68px -4px;*/
/*}*/
/*.positionTree .jstree-default .jstree-no-dots .jstree-themeicon {*/
/*	background-position: -260px -4px;*/
/*}*/
.positionTree .jstree-default .jstree-no-dots .jstree-open > .jstree-ocl{
	background: none;
	font-family:'FontAwesome';
	font-style: initial;
	font-size: 17px
}
.positionTree .jstree-default .jstree-no-dots .jstree-closed > .jstree-ocl{
	background: none;
	font-family:'FontAwesome';
	font-style: initial;
	font-size: 17px;
}
.positionTree .jstree-default .jstree-no-dots .jstree-open > .jstree-ocl:before {
	content:"\f147"
}
.positionTree .jstree-default .jstree-no-dots .jstree-closed >.jstree-ocl:before {
	content:"\f196"
}
