html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  color: #fff;
  background-color: transparent;
}

.pr100 {
  width: 100%;
  height: 100%;
  position: relative;
}

.bgimg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.newlayout-title {
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  line-height: 60px;
}

.newlayout-main {
  width: 100%;
  height: 100%;
  padding-top: 0px;
}

.tab1_title {
  text-align: center;
  width: 100%;
  height: 45px;
  line-height: 45px;
	background: url(../../common/images/bt.png) no-repeat center;
	background-size: 100%;
}

.tab1_main {
  overflow: hidden;
}

.tab1_card {
  overflow: hidden;
  margin-bottom: 20px;
}

.line {
  display: inline-block;
  width: 4px;
  height: 14px;
  background: #007AFF;
  margin-top: 2px;
}

.tab1_main>div {
  width: 33.3%;
  float: left;
	text-align: center;
}

.tab1_main>div>span {
  font-size: 56px;
  margin-left: 8px;
  padding: 3px 5px;
	font-family:"PIXEL LCD-7";
  src: url("../font/PIXEL LCD-7.TTF");
	color: #fff;
}
.tab1_main>div:nth-child(1) span{
  background:#D46C36;
}
.tab1_main>div:nth-child(2) span{
  background:#2C9763;
}

.tab1_main>div:nth-child(3) span{
  background:#293EDB;
}
.card {
  width: 250px;
  height: 264px;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;

}

.card_top {
  width: 100%;
  height: 80px;
  padding: 20px 18px;
}

.card_top img {
  float: left;
}

.card_top>div {
  padding-left: 50px;
}

.userName {
  font-weight: 700;
  margin-right: 10px;
  font-size: 16px;
}

.dept {
  margin-right: 10px;
}

.status {
  color: #28E848
}

.card_main {
  padding: 15px
}

.card_main p {
  line-height: 24px;
  color: #00D3EA;
  font-size: 15px;
}

.describe {
  float: left;
}

.card_desContent {
  padding-left: 75px;
  padding-top: 2px;
  color: #00D3EA;
}

/* tab2 */
.tab2_title {
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  line-height: 45px;
  color: #DBDEF7;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
}
.tab2_main{
	width:100%;
	height:100%;
	padding-top:45px;
}
.filterDate {
  float: right;
}

select {
  color: #EFF1F5;
  border: 1px solid #4C52E6;
  background: transparent;
}

/* tab3 */
.user_card {
  width: 180px;
  height: 80px;
  border: 1px solid #f00;
  padding: 18px 15px;
  margin: 20px;
  float: left;
}

.user_card img {
  float: left;
  vertical-align: middle;
}

.user_card>div {
  padding-left: 50px;
}

.user_card .userName {
  font-weight: 700;
  margin-right: 3px;
  font-size: 16px;
}

.user_card .status {
  color: #28E848
}

.user_card .more {
  color: #4FC9EC;
  cursor: pointer;
}

.tab3_main {
  overflow: hidden;
}
.card_yellow{
	background: url(../../common/images/cardYellow.png) no-repeat center;
}
.card_red{
	background: url(../../common/images/cardRed.png) no-repeat center;
}
.card_green{
	background: url(../../common/images/cardGreen.png) no-repeat center;
}

.table-advance thead tr th {
	background-color: #4C52E6;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center!important;
}
.table > tbody > tr {
    background-color: transparent!important;
}
 .table-bordered > thead > tr > th{
	border-color: #4C52E6;
}
.table > tbody > tr > td{
	border-color: #4C52E6;
	color:#5092C1
}
.table-bordered {
    border-color: #4C52E6;
} 
#gridcont_content{
	height:100%;
	width:100%;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent!important;
}