html, body {
	width: 100%;
	height: 100%;
	position: relative;
	color:#fff;
	/*min-width: 700px;*/
}

.pr100 {
	width: 100%;
	height: 100%;
	position: relative;
}

.tab_main{
	width:100%;
	height:100%;
	padding-top:30px;
}
.newlayout-title{
	height:60px;
	position:absolute;
	top:0;
	left:0;
	color:#fff;
	line-height:60px;
}
.newlayout-main{
	width:100%;
	height:100%;
	padding-top:0px;
}
.dbsx_wrap{
	text-align: center;
	overflow: hidden;
}
.dbsx_wrap>div{
	width:160px;
	height:168px;
	display: inline-block;
	margin: 10px 5px;
	text-align: center;
	cursor:pointer;
	border-radius: 4px !important;
	background:url('../images/grdbbg.png') no-repeat,linear-gradient(0deg, #052162 0%, #08379C 100%);
}
.dbsx_wrap div p{
	font-size: 58px;
	font-weight: 700;
	font-family:"YOUSHEBIAOTIHEI-2_0";
	src: url("../font/YOUSHEBIAOTIHEI-2_0.TTF");
	color: #3176FC;
	padding-top: 16px;
}
.dbsx_wrap div span{
	color: #fff;
	font-size: 18px;
	/* border-bottom: 1px solid #3176FC; */
	background: url('../images/bottomline.png') no-repeat 0 28px;
	padding-bottom:10px;
}
.dbsx_wrap div:hover,.dbsx_wrap div:active{
	background:url('../images/grdbbg.png') no-repeat,linear-gradient(0deg, #111D57 0%, #2B1E5C 100%);
}
.dbsx_wrap div:hover p,.dbsx_wrap div:active p{
	color: #F70A4A;
}
.dbsx_wrap div:hover span,.dbsx_wrap div:active span{
	background: url('../images/bottomline2.png') no-repeat 0 28px;
}