html, body {
	/* background-color: ffffff; */
	/* font-family: "Microsoft Yahei"; */
	background-color: transparent;
	font-size: 18px;
}

.table_portlet .table-advance thead tr th {
	background-color: #3598DC;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
}

p {
	margin: 0px;
}
@font-face {
  font-family:"FOT-CHIAROSTD-B_0";
  src: url("../font/FOT-CHIAROSTD-B_0.OTF");
}
@font-face {
  font-family:impact;
  src: url("../font/impact.ttf") format('truetype');
}
@font-face {
  font-family:"PIXEL LCD-7";
  src: url("../font/PIXEL LCD-7.TTF") format('truetype');
}
@font-face {
	font-family:"FX-LED";
	src: url("../font/FX-LED.TTF") format('truetype');
}
@font-face {
  font-family:"YOUSHEBIAOTIHEI-2_0";
  src: url("../font/YOUSHEBIAOTIHEI-2_0.TTF")  format('truetype');
}
.table_portlet .has-success .help-block, .table_portlet .has-success .help-inline,
	.table_portlet .has-success .control-label, .table_portlet .has-success .radio,
	.table_portlet .has-success .checkbox, .table_portlet .has-success .radio-inline,
	.table_portlet .has-success .checkbox-inline {
	color: #6ac3b8;
}
.pr100{
	width:100%;
	height:100%;
	position:relative;
}

.table_portlet .has-success .form-control {
	border-color: #6ac3b8;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.table_portlet .portlet {
	position: relative;
	width: 100%;
	height: 100%;
	margin-bottom: 0px;
}

.table_portlet .portlet-title {
	position: absolute;
	width: 100%;
	z-index: 1;
}

.table_portlet .box .portlet-body {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	padding: 41px 0 0 0;
}

.table_portlet .portlet-body .portlet_cont {
	height: 100%;
	position: relative;
}

.table_portlet .portlet_form {
	position: absolute;
	width: 100%;
	z-index: 1;
	padding: 10px;
	box-shadow: 0 0 10px #cccccc inset;
}

.table_portlet .portlet_list {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.table_portlet .row1 {
	height: 48px;
}

.table_portlet .top_row1 {
	padding-top: 48px;
}

.table_portlet .row2 {
	height: 91px;
}

.table_portlet .top_row2 {
	padding-top: 91px;
}

.table_portlet .row3 {
	height: 134px;
}

.table_portlet .top_row3 {
	padding-top: 134px;
}

.table_portlet .row4 {
	height: 177px;
}

.table_portlet .top_row4 {
	padding-top: 177px;
}

.table_portlet .row5 {
	height: 220px;
}

.table_portlet .top_row5 {
	padding-top: 220px;
}

.table_portlet .row6 {
	height: 263px;
}

.table_portlet .top_row6 {
	padding-top: 263px;
}

.table_portlet .row7 {
	height: 306px;
}

.table_portlet .top_row7 {
	padding-top: 306px;
}

.table_portlet .portlet_inner {
	width: 100%;
	height: 100%;
	padding: 10px;
}

.table-advance thead tr th {
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

.newfa1 {
	color: #00B79B;
	cursor: pointer;
}

/* .modal-header {
	height: 48px;
	background: #1C67E3;
	color: #fff;
	padding: 0px;
	border: none;
}
.modal-content{
	border: none;
}

.modal .modal-header {
	border: none;
}

.modal-content {
	background-color: #fff;
}

.newclose {
	position: absolute;
	top: 10px;
	width: 18px;
	height: 18px;
	text-align: center;
	right: 10px;
	cursor: pointer;
	/*	background-color:#1B9AA9;
	border-radius:20px!important;
	-moz-border-radius:20px!important;
}

.newclose i {
	font-size: 17px;
	color: #fff;
}
 */
.modal-dialog {
	width: 400px;
}
.modal-header {
	height: 48px;
	background: #2A92E3;
	color: #fff;
	padding: 0px;
	border: none;
}
.modal-title {
	font-size: 16px !important;
}
.newclose {
	position: absolute;
	top: 10px;
	width: 18px;
	height: 18px;
	text-align: center;
	right: 10px;
	cursor: pointer;
}
.newclose i {
	font-size: 17px;
	color: #fff;
}
.bootbox-body {
	color: #000;
	padding:60px 0;
	line-height:30px;
	/* line-height: 130px; */
	font-size: 15px !important;
	text-align: center;
}
.modal-footer {
	text-align: center;
}
.cjDialog {
	background-color: #fff;
	right: inherit;
	bottom: inherit;
}
.cjDialog .modal-dialog {
	margin: 0 !important;
}

.cjDialog+.modal-backdrop {
	opacity: 0 !important
}
.cjDialog .modal-body, .alertInfo .modal-body {
	min-height: 130px;
	border-bottom: 1px solid #e5e5e5;
}
.cjDialog .modal-footer, .alertInfo .modal-footer {
	border-top: none;
}

.modal-content{
	border: none;
}

.modal .modal-header {
	border: none;
}


.btn-success, .btn-default {
	border-radius: 4px !important;
	-moz-border-radius: 2px !important;
}

.table-advance {
	margin-bottom: 0px !important;
}

.menu2_list1 {
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu2_list2 {
	float: left;
	height: 37px;
	position: relative;
}

.menu2_list2:hover a {
	border-bottom: 3px solid #0A5984;
}

.menu2_list2.active a {
	border-bottom: 3px solid #0A5984;
}

.menu2_list2 a {
	display: inline-block;
	width: 100%;
	height: 37px;
	line-height: 37px;
	padding-left: 40px;
	padding-right: 40px;
	font-size: 16px;
	color: #222;
	outline: none;
	text-decoration: none;
}

.cke_bottom.cke_reset_all {
	display: none;
}

.hong {
	color: #f00;
}

/*閺咁噣锟芥碍瀵滈柦锟�*/
.newbtn {
	width: 70px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	background: #48a79a;
	color: #fff;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	border: 0;
}

.newbtn:hover {
	color: #fff;
}

.newbtn:active {
	color: #fff;
}

.newbtn:link {
	color: #fff;
}

.newbtn:visited {
	color: #fff;
}

.newbtnbig {
	width: 100px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	background: #48a79a;
	color: #fff;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	border: 0;
}

.newbtnbig:hover {
	color: #fff;
}

.newbtnbig:active {
	color: #fff;
}

.newbtnbig:link {
	color: #fff;
}

.newbtnbig:visited {
	color: #fff;
}

/*闁插秶鐤嗛幐澶愭尦*/
.rebtn {
	width: 70px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	background: #e5e5e5;
	color: #565656;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	border: 0;
}

.rebtn:hover {
	color: #565656;
}

.rebtn:active {
	color: #565656;
}

.rebtn:link {
	color: #565656;
}

.rebtn:visited {
	color: #565656;
}

.newpage66 {
	margin-right: 5px !important;
}

div, a, input, p, h1, h2, h3, h4, h5, h6 {
	/* font-family: "瀵邦喛钂嬮梿鍛寸拨" !important; */
}

.form-control[disabled], fieldset[disabled] .form-control {
	/*閹碉拷閺堝銆冮崡鏇炲帗缁辩姾顔曠純顔荤啊readonly閹存牞锟藉崓isabled娴犮儱鎮楅敍灞惧潑閸旂姵顒漜lass鐠佸墽鐤嗘Η鐘崇垼閸掓帟绻冮弰顖滎唲婢讹拷*/
	cursor: default;
	background-color: #eeeeee;
}

.addpointer, .form-control[readonly] {
	/*閹碉拷閺堝銆冮崡鏇炲帗缁辩姾顔曠純顔荤啊readonly閹存牞锟藉崓isabled娴犮儱鎮楅敍灞惧潑閸旂姵顒漜lass鐠佸墽鐤嗘Η鐘崇垼閸掓帟绻冮弰顖氱毈閹碉拷*/
	cursor: pointer !important;
}

.modal-title {
	font-size: 16px !important;
	height: 100%;
	line-height: 48px;
	padding-left: 10px;
	font-weight: 700;
}

.userpic {
	/* 娴滃搫鎲抽柅澶嬪閺嶆垵娴橀弽鍥︾秴缂冿拷*/
	position: absolute;
	top: 2px;
	right: 26px;
	background: #45B6AF;
	width: 34px;
	text-align: center;
	color: #fff;
	height: 33px;
	line-height: 33px;
	cursor: pointer;
}

.fa-times {
	font-size: 16px !important;
}

.users {
	font-size: 16px !important;
}

.divrelative {
	position: relative;
}

.cart_cont_bg {
	float: left;
	margin-right: 9px;
	padding: 10px 12px;
	width: 191px;
	height: 228px;
	background: url('../../images/ctpg.png') no-repeat 0 0;
	position: relative;
}

.cart_close {
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	display: none;
}

.cart_close2 {
	position: absolute;
	top: 2px;
	right: 4px;
	cursor: pointer;
	display: block;
	color: #555;
}

.cart_cont_bg:hover>.cart_close {
	display: block;
}

.cart_head {
	height: 160px;
}

.cart_wjjhead {
	height: 170px;
}

.cart_head_head {
	height: 30px;
	position: relative;
}

.cart_head_left {
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	line-height: 25px;
}

.cart_head_left .btn {
	min-width: 85px;
}

.cart_head_right {
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	font-size: 10px;
	line-height: 30px;
	padding-right: 15px;
}

.cart_head_center {
	height: 130px;
}

.cart_center_h {
	height: 20px;
	color: #707070;
	font-size: 10px;
}

.cart_center_c {
	height: 80px;
	padding-right: 0px;
	line-height: 20px;
}

.cart_center_f {
	height: 30px;
	color: #707070;
	font-size: 10px;
	line-height: 30px;
}

.cart_foot {
	height: 40px;
	position: relative;
	border-top: 1px solid #BCBCBC
}

.cart_foot_left {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	line-height: 40px;
}

.new_button1 {
	border: 1px solid #3379B5;
	color: #3379B5;
}

.new_button1 .fa {
	color: #3379B5;
}

.new_button2 {
	border-radius: 2px !important;
}

.cart_foot_right {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	line-height: 40px;
}

.cart_cont {
	float: left;
	margin-right: 9px;
	padding: 10px 12px;
	width: 191px;
	height: 218px;
	position: relative;
	border: 1px solid #B5B5B5;
	margin-bottom: 10px;
}

.cart_foot_count {
	font-size: 20px;
	font-weight: bold;
}

.cart_cont .cart_foot_left font {
	cursor: pointer;
}

.cart_cont .cart_foot_left font:hover {
	cursor: pointer;
	text-decoration: underline;
}

.btn_newbutton1 {
	border-radius: 4px !important;
	-moz-border-radius: 2px !important;
	background-color: #1EACC6;
}

.table.table-bordered thead>tr>th {
	border-bottom: 2px solid #8a8d8b !important
}

#gridcont_conttable tr:first-child td {
	border-top-color: transparent;
}

.relative {
	position: relative;
	width: 100%;
	height: 100%;
}

.peoples_img {
	background: url("../images/peoples.png") no-repeat center center
		!important;
}

.people_img {
	background: url("../images/people.png") no-repeat center center
		!important;
}

.faimg {
	font-size: 16px !important;
	color: #3399FF;
}

.btn-primary {
	border-radius: 3px !important;
}

.cjDialog {
	background-color: #fff;
	right: inherit;
	bottom: inherit;
}

.cjDialog .modal-dialog {
	margin: 0 !important;
}

.cjDialog+.modal-backdrop {
	opacity: 0 !important
}

.cjDialog .modal-body, .alertInfo .modal-body {
	min-height: 130px;
	border-bottom: 1px solid #e5e5e5;
}

.cjDialog .modal-footer, .alertInfo .modal-footer {
	border-top: none;
}

/* tab椤电鏍峰紡 */
.nav-tabs {
	border-bottom: 1px solid #76B5EE;
	position: absolute;
	width: 100%;
	padding-left: 30px;
}

.nav-tabs>li {
	float: left;
	margin-bottom: -1px;
	border: none;
	color: #fff;
}

.nav-tabs>li>a {
	margin-right: 2px;
	line-height: 12px;
	border: none;
	border-radius: 0;
}

.nav-tabs>li>a:hover {
	background-color: transparent;
}

.nav-tabs>li.active, .nav-tabs>li.active:hover, .nav-tabs>li.active:focus
	{
	color: #fff;
	border-color: #6498B6;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	color: #fff;
	cursor: default;
	background-color: transparent;
	border: none;
	border-bottom-color: transparent;
}

.tab-content {
	width: 100%;
	height: 100%;
	position: relative;
}

.tabbable {
	width: 100%;
	height: 100%;
}

.tab-pane {
	width: 100%!important;
	height: 100%!important;
}

.nav-tabs, .nav-pills {
	margin-bottom: 0px;
}
.nav-tabs li,.nav-tabs li a{
	outline:none;
}

.nav-tabs li:first-child {
	margin-left: -43px;
}

.nav-tabs li.active:first-child::after, .nav-tabs li.active::before {
	border-color: #6097BC;
}

.nav-tabs li:first-child::before {
	border-left-color: transparent;
}

.nav-tabs li:first-child:after {
	position: absolute;
	content: ' ';
	left: 13px;
	border: 1px solid #68A9D8;
	border-top: 0px;
	border-right: 0px;
	width: 26px;
	top: 0;
	height: 100%;
	box-sizing: border-box;
}

.nav-tabs li::before {
	position: absolute;
	content: ' ';
	background: transparent;
	border: 1px solid #68A9D8;
	border-left-width: 1px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	transform: skew(40deg);
	box-shadow: inset 0px 0px 4px #68A9D8;
}

.nav-tabs li:first-child a {
	padding-left: 26px;
}
.specialFont{
	font-family:"YOUSHEBIAOTIHEI-2_0";
}
.layout_tab_title{
	text-align:center;
	width:100%;
	height:45px;
	line-height:45px;
	background: url(../../common/images/bt.png) no-repeat center;
	background-size: 100%;
}


/* 新表格 */
.newtable .table-advance thead tr th {
	background-color: #2E85E0;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center!important;
}
#gridcont_content{
	background: transparent!important;
}
.newtable .table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #052A61;
}
.newtable .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent;
}
.newtable .table > tbody > tr:hover,.newtable .table > tbody > tr td:hover{
	box-shadow: inset 0px 0px 2px #2B5C97;
	color: #F7B707;
}
.newtable .table > thead > tr > th{
	vertical-align: middle!important;
}
 .newtable .table-bordered > thead > tr > th{
	border-color: #204E97;
}
.newtable .table > tbody > tr > td{
	border-color: #204E97;
}
.newtable .table-bordered {
    border-color: #204E97;
}
label.error{
	color:#f00;
}

.red{
	color: #f00;
	margin-left: 3px;
}

.filterDate .date-picker>input{
	background: transparent;
	color:#fff;
	border-color:#4C52E6;
}

.filterDate .btn.default {
    color: #fff;
    background-color: #4C52E6;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 150px!important;
}

.bootstrap-select .btn {
    border-color: #4C52E6;
    color: #fff;
    background-color: transparent;
}
.filterDate .selecttree input::-webkit-input-placeholder,.filterUnit .selecttree input::-webkit-input-placeholder{
	color:#fff!important;
}
.filterDate .selecttree input::-moz-input-placeholder,.filterDate .selecttree input::-moz-input-placeholder{
	color:#fff!important;
}
.filterDate .selecttree input:-moz-input-placeholder,.filterUnit .selecttree input:-moz-input-placeholder{
	color:#fff!important;
}
.filterDate .selecttree input:-ms-input-placeholder,.filterUnit .selecttree input:-ms-input-placeholder{
	color:#fff!important;
}
.nav-tabs > li > a, .nav-pills > li > a{
	font-size: 24px;
	line-height: 20px;
}
.min-size .nav-tabs> li > a,.min-size > li > a{
	font-size: 20px;
	line-height: 20px;
}
body.min-size{
	font-size: 13px;
}
.positionTree::-webkit-scrollbar{
	width: 5px;
	height: 5px;
}
.positionTree::-webkit-scrollbar-track{
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0.3);*/
}

.positionTree::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #2678FC;
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0.5);*/
}

.positionTree::-webkit-scrollbar-thumb:window-inactive{
	background: #2678FC;
}

