html,
body {
  background-color: #04182C;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}


.pr100 {
  width: 100%;
  height: 100%;
  position: relative;
}

.newlayout-head{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:45px;
	color:#1C67E3;
}
.newlayout-content{
	width:100%;
	height:100%;
	padding-top:45px;
}

.newlayout-search {
	float: right;
	width: 300px;
	position: relative;
}
.newlayout-search input {
	width: 100%;
	border-radius: 6px!important;
	outline: none;
	border: none;
	border: 1px solid #4C52E6;
	padding: 5px 15px;
	color: #4C52E6;
	font-size: 14px;
	padding-right:40px;
	background: #122450;
}
.newlayout-search .search{
	position: absolute;
	color: #4C52E6;
	right: 12px;
	top: 6px;	
	cursor: pointer;
	font-size: 20px;
}
.importBtn{
	background: #4C52E6;
	border: none;
	color: #fff;
	padding: 5px 20px;
	float: right;
	margin-left: 20px;
	border-radius: 4px !important;
}
select{
	background: transparent;
	color:#fff;
	width:200px;
	border: 1px solid #4C52E6;
	border-radius: 6px!important;
	padding: 5px 15px;
}
.table-advance thead tr th {
	background-color: #2A92E3;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center!important;
}
.table > tbody > tr {
    background-color: transparent!important;
}
.table > tbody > tr:hover{
    background-color: #0C243E!important;
		box-shadow: inset 0px 0px 2px #0C243E;
		border:1px solid #214E75;
}
.table-bordered > thead > tr > th{
	border: none;
}
.table > tbody > tr > td{
	border: none;
	color:#fff;
}
.table-bordered {
    border: none;
}
.table.table-bordered thead > tr > th {
    border: none!important;
}
.smallBtn{
	cursor:pointer;
	padding:4px 5px;
	color:#FEB64D;
}