html, body {
	width: 100%;
	height: 100%;
	position: relative;
	color:#333;
	font-size: 14px;
}

.pr100 {
	width: 100%;
	height: 100%;
	position: relative;
}
.newlayout-head{
	position:absolute;
	top:0;
	left:0;
	width: 100%;
	height:100px;
	line-height:100px;
	font-size:22px;
	font-weight: 700;
	padding-left:25px;
	color:#1C67E3;
	border-bottom:1px solid #eee;
	box-shadow: inset 0px 0px 2px #eee;
}

.newlayout-search-main{
	border:1px dashed #8FB9F4;
	width:100%;
	height:100%;
	border-radius: 2px!important;
	padding:20px;
	background: #DCEFFF;
	font-size: 16px;
}
.form-group{
	float: left;
	width:16.6%;
}
.form-group input{
	background: #fff;
	font-size:15px;
	border:1px solid #fff;
	border-radius: 4px!important;
	padding:5px 8px;
}
.btn-group{
	width:100%;
	text-align: center;
	margin-top:10px;
}
.btn-group button{
	padding:5px 25px;
	background: #1C67E3;
	border:1px solid #1C67E3;
	border-radius: 4px!important;
	color: #fff;
	margin:0 8px;
}
.btn-group button.closeBtn{
	background: #F1F1F1;
	border:1px solid #F1F1F1;
	color: #999;
}
.newlayout-content{
	width:100%;
	height:100%;
	padding-top:75px;
}
.newlayout-content-title{
	position:absolute;
	top:0px;
	left:0;
	width: 100%;
	height:45px;
	padding-left:20px;
}
.newlayout-content-title>div{
	border-left:4px solid #1C67E3;
	padding-left:5px;
}
.newlayout-content-title button{
	padding:3px 15px;
	background: #1C67E3;
	border:1px solid #1C67E3;
	border-radius: 4px!important;
	color: #fff;
	margin:0 4px;
}
.newlayout-content-title button.del{
	background: #DCEFFF;
	color: #1C67E3;
	border-color: #1C67E3;
}
.newlayout-content-title span{
	font-size: 18px;
	font-weight: 700;
	margin-right:10px;
}

.newlayout-grid {
	width: 100%;
	height: 100%;
	padding:45px 20px 20px;
}


/* .table-advance thead tr th {
	background-color: #1C67E3;
	font-size: 14px;
	font-weight: 400;
	color: #fff;
	text-align: center!important;
}
#gridcont_content{
	background: #fff;
}
.table-striped > tbody > tr:nth-of-type(2n) {
    background-color: #F1F1F1;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: transparent;
}
.table > tbody > tr:hover,.table > tbody > tr td:hover{
	color: #333;
}
.table > thead > tr > th{
	vertical-align: middle!important;
}
 .table-bordered > thead > tr > th{
	border-color: #DDDDDD;
}
.table > tbody > tr > td{
	border-color: #DDDDDD;
}
.table-bordered {
    border-color: #DDDDDD;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #1C67E3;
    border-color: #1C67E3;
} */


.datagrid *{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}
.datagrid .panel-body {
    padding: 0;
}
.pagination {
    display: block;
}
.datagrid-header-row, .datagrid-row {
    height: 42px;
}
.datagrid-header-inner{
	background-color: #1C67E3;
	height: 42px;
	color:#fff;
}
.datagrid-header-inner .datagrid-header-row {
	color:#fff;
}
.datagrid.panel {
    margin-bottom: 0;
}

.tree-title {
    font-size: 12px;
}

.datagrid-cell, .datagrid-cell-group, .datagrid-header-rownumber, .datagrid-cell-rownumber {
    font-size: 12px;
    height:inherit;
}
.datagrid-cell span{font-size: 14px;}

.tree-icon.tree-folder{
	display:none;
}
.tree-icon.tree-file{
	display:none;
}
.datagrid-header{
	background-color:#1C67E3
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-color: #ccc;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-style: solid;
}
.panel-header, .panel-body {
    border-color:#ccc;
}
.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner {
    border-color: #ccc;
}
.datagrid-header-rownumber,.datagrid-td-rownumber{
	background:none;
	background-color:#F1F1F1
}

.datagrid-row-selected {
    background: #F1F1F1;
    color: #000;
}
.datagrid-row-over{
  background: #F1F1F1;
  color: #000;
}
.datagrid-view2 .datagrid-row td:first-child{
	border-left:none;
}

.datagrid-td-rownumber{
	 background:#F1F1F1;
}

#gridcont .datagrid-cell{
	text-align: center!important;
}

.indepartmenttree1{
	overflow:auto;
	height:300px;
}
.indepartmenttree2{
	height:300px;
}
.datagrid-htable td div{
	text-align: center!important;
}
tbody > tr:nth-of-type(2n) {
    background-color: #F1F1F1;
}
.datagrid-htable tbody tr>td:hover{
	background-color:#1C67E3;
	color:#fff
}
